vendor
composer.lock
.buildpath
.project
.settings
.idea
.idea/*
.idea/workspace.xml
.phpintel/*
.phpintel/
.phpintel
cache-version.txt
.cli.env
.history
.DS_Store
.php_cs.cache
.vscode
.history
*.log
.vagrant
.vagrant/*